<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.icelord.projectv3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogicTable" />
        <activity android:name=".WhatNehvat" />
        <activity android:name=".DrawingLine" />
        <activity android:name=".NehvatLvlChoice" />
        <activity android:name=".PaintLvlChoice" />
        <activity android:name=".TableLvlChoice"></activity>
    </application>

</manifest>